<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>US States</title>
  <style>
    .dashboard {
      font-family: "Helvetica Neue", Arial;
      font-size: 1.1em;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 25px;
    }

    .stats {
      display: grid;
      grid-template-columns: 180px 1fr;
      grid-gap: 5px 10px;
    }

    select {
      font-size: 1.1em;
    }

    .toolbar {
      margin-bottom: 10px;
    }

    .header {
      color: white;
      background-color: black;
      padding: 5px;
      font-weight: bold;
    }

    .numbers {
      font-size: 2.0em;
      font-weight: bold;
    }

    .extra-data {
      font-size: 0.6em;
      font-weight: normal;
      display: block;
    }

    .disclaimer {
      font-size: 0.75em;
      margin-top: 10px;
    }
  </style>
</head>

<body>

  <div class="dashboard">
    <h1>COVID-19 Tracker</h1>

    <div>
      <div class="toolbar">
        <div>
          State:
          <select v-model="selectedState">
            <option v-for="s in stateList" :value="s">{{s.state}}</option>
          </select>
        </div>
        <div>
          Update every:
          <select v-model="updateInterval" @change="startNewTimer">
            <option :value="1">One minutes</option>
            <option :value="10">Ten minutes</option>
            <option :value="30">Half an hour</option>
            <option :value="60">One hour</option>
            <option :value="2400">Four hours</option>
          </select>
        </div>
      </div>

      <div class="stats" v-if="selectedState && populationList">
        <div class="header">TOTAL TESTED</div>
        <div class="numbers">{{formatter.format(selectedState.totalTestResults)}} 
          <span class="extra-data" v-if="selectedState.extraData">{{Math.round(selectedState.extraData.testPerThousand)}} per 1000 residents.<br/>US Avg. {{Math.round(nationalAverage.testPerThousand)}} per 1000 residents.</span>
        </div>
        <div class="header">TESTED POSITIVE</div>
        <div class="numbers">{{formatter.format(selectedState.positive)}}
          <span class="extra-data" v-if="selectedState.extraData">{{Math.round(selectedState.extraData.positivePercent)}}% of tested.<br/>US Avg. {{Math.round(nationalAverage.positivePercent)}}% of tested.</span>
        </div>
        <div class="header">HOSPITALIZED</div>
        <div class="numbers" v-if="selectedState.hospitalized">{{formatter.format(selectedState.hospitalized)}}
          <span class="extra-data" v-if="selectedState.extraData">{{Math.round(selectedState.extraData.hospitalizedPercent)}}% of positive.<br/>US Avg. {{Math.round(nationalAverage.hospitalizedPercent)}}% of positive.</span>
        </div>
        <div class="numbers" v-else><span class="extra-data">Data not available.</span></div>
        <div class="header">DEATHS</div>
        <div class="numbers">{{formatter.format(selectedState.death)}}
          <span class="extra-data" v-if="selectedState.extraData">{{Math.round(selectedState.extraData.deathPercent)}}% of positive.<br/>US Avg. {{Math.round(nationalAverage.deathPercent)}}% of positive.</span>
        </div>
      </div>

      <div class="disclaimer" v-if="selectedState">
        Data is from: {{selectedState.lastUpdateEt}} ET.
        <span v-if="selectedState.grade !== 'A'">Quality of data from this state is not the best.</span>
      </div>
    </div>
  </div>

  <script>
    var helloApp = new Vue({
      el: '.dashboard',
      data: {
        updateInterval: 30,
        formatter: new Intl.NumberFormat,
        selectedState: undefined,
        stateList: [],
        populationList: undefined,
        timer: undefined
      },
      methods: {
        updateDisplay() {
          console.log("Updating display")

          return fetch("https://covidtracking.com/api/states")
            .then(response => response.json())
            .then(data => {
              console.log("Got covid data")
              this.stateList = data

              if (this.selectedState === undefined) {
                this.selectedState = this.stateList[0]
              } else {
                //Choose the last selected state
                this.selectedState = this.stateList.find(s => s.state === this.selectedState.state)
              }

              this.calculateExtraData()
            })
        },
        calculateExtraData() {
          if (this.stateList === undefined || this.stateList.length === 0 || this.populationList === undefined || this.populationList.length == 0) {
            return
          }

          this.stateList.forEach(s => {
            let statePop = this.populationList.find(p => p.state === s.state)

            if (statePop === undefined) {
              //A few states have no population data
              return
            }

            s.extraData = {}
            s.extraData.testPerThousand = (s.totalTestResults * 1000.0) / (statePop.population)
            s.extraData.positivePercent = (s.positive * 100.0) / (s.totalTestResults)
            s.extraData.hospitalizedPercent = (s.hospitalized * 100.0) / (s.positive)
            s.extraData.deathPercent = (s.death * 100.0) / (s.positive)
          })

          let statesWithExtraData = this.stateList.filter(s => s.extraData !== undefined)
          
          this.nationalAverage = {
            testPerThousand: 0,
            positivePercent: 0,
            hospitalizedPercent: 0,
            deathPercent: 0
          }

          var missingHospitalization = 0

          statesWithExtraData.forEach(s => {
            this.nationalAverage.testPerThousand += s.extraData.testPerThousand
            this.nationalAverage.positivePercent += s.extraData.positivePercent
            this.nationalAverage.hospitalizedPercent += s.extraData.hospitalizedPercent
            this.nationalAverage.deathPercent += s.extraData.deathPercent

            if (s.extraData.hospitalizedPercent == 0) {
              ++missingHospitalization
            }
          })

          this.nationalAverage.testPerThousand /= statesWithExtraData.length
          this.nationalAverage.positivePercent /= statesWithExtraData.length
          this.nationalAverage.hospitalizedPercent /= (statesWithExtraData.length - missingHospitalization)
          this.nationalAverage.deathPercent /= statesWithExtraData.length
        },
        startNewTimer() {
          if (this.timer !== undefined) {
            console.log("Stopping old timer")
            clearInterval(this.timer)
          }

          console.log("Starting new timer", this.updateInterval * 60 * 1000)

          this.timer = setInterval(
            () => this.updateDisplay(),
            this.updateInterval * 60 * 1000)
        }
      },
      mounted() {
        fetch("population.json")
          .then(response => response.json())
          .then(data => {
            console.log("Got population data")
            this.populationList = data
            
            this.calculateExtraData()
          })

        this.updateDisplay()
          .catch(err => alert("Sorry there was an error. Please try again."))

        this.startNewTimer()
      },
      computed: {
        dataQuality() {
          if (this.selectedState.grade === 'A') return 'Very good'
          else if (this.selectedState.grade === 'B') return 'Good'
          else return 'Poor'
        }
      }
    })
  </script>
</body>

</html>